<div class="container" [ngClass]="{'list-group-item': true,
                      'list-group-item-success': loveIts > 0,
                      'list-group-item-danger': loveIts <0 }">
  <div class="row">
    <div class="col-md-12">
      <h2>Titre : {{ postTitle }}<small style="float: right;font-size: 16px !important;">{{ postCreatedAt | date: 'short' }}</small></h2>
    </div>
    <hr>
    <div class="col-md-12">
    <p>Content : {{ postContent }}</p>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-md-4">
    <button class="btn btn-success" (click)="loveIts = loveIts+1">Love it!</button>
    <button class="btn btn-danger" (click)="loveIts = loveIts-1">Dont' love it!</button>
    </div>
      <div class="col-md-3">
          <button class="btn btn-danger" name="remove" (click)="onDelete(post)">Supprimer</button>
      </div>
  </div>
</div>